.field {
	margin-bottom: 20px;
}

.field label {
	margin: 0px 0px 5px 0px;
	display: block;
	color: rgb(33, 33, 33);
	font-size: 20px;
	font-weight: 700;
}

.field input {
	padding: 10px 15px;
	box-sizing: border-box;
	width: 100%;
	color: rgb(34, 34, 34);
	font-size: 20px;
	border: 1px solid rgba(34, 34, 34, 0.15);
	background-color: rgb(255, 255, 255);
	outline: none;
}
